* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* style header*/
header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: rgb(230, 230, 230);
  align-items: center;
  box-shadow: 41px 41px 82px #6c6c6c, -41px -41px 82px rgb(230, 230, 230);
}

.menu {
  padding: 10px;
  width: 71%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  height: 60px;
  width: 70px;
}

button:hover{
  background-color:skyblue;
  color: #ffffff;
  box-shadow: 41px 41px 82px #6c6c6c, -41px -41px 82px #ffffff;
}
/* style formulaire*/
section {
  width: 80%;
  margin: auto;
  height: 800px;
  background: #e0e0e0;
  display: flex;
  justify-content: center;
  
}
/* style formulaire-connexion*/
.formconnex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 480px;
  margin: 100px; 
  border-radius: 93px;
  background: #e0e0e0;
  box-shadow: 41px 41px 82px #6c6c6c, -41px -41px 82px #ffffff;
  padding-top: 20px;
}
.el {
  padding: 40px;
  
}
.inputclass{
  height: 40px;
  width:300px;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(49, 49, 49);
}
.submitclass{
  height: 40px;
  width: 250px;
  border-radius: 20px;
  background-color: rgb(40, 161, 241);
  color: #ffffff;
}
.inputclass:hover{
  background-color: whitesmoke;
}
.submitclass:hover{
background-color: springgreen;
color: black;
}

/* style formulaire-inscription*/

.forminscrip {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height:570px;
  margin: 100px; 
  border-radius: 93px;
  background: #e0e0e0;
  box-shadow: 41px 41px 82px #6c6c6c, -41px -41px 82px #ffffff;
  padding-top: 20px;
}
.el1 {
  padding: 20px;
  
}
h1{
  padding: 10px;
  text-align: center;
}

.child1{
  width: 30%;
}
.child2{
  display: flex;
  width: 70%;
  justify-content: end;
}


/* style formulaire-profil*/

.formprofil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height:570px;
  margin:50px; 
  border-radius: 93px;
  background: #e0e0e0;
  box-shadow: 41px 41px 82px #6c6c6c, -41px -41px 82px #ffffff;
  padding-top: 20px;
}
.el2 {
  padding: 40px;
  
  
}

.messagealert{
  text-align: center;
  border:1px solid black;
  height: 80px;
  padding: 30px;
  margin-top: 10px;
  background-color: rgb(211, 91, 91);
}

.color{
  color: darkred;
}
/* style footer */
footer {
  display: flex;
  justify-content: center;
  height: 150px;
  background-color: rgb(230, 230, 230);
  align-items: center;
  box-shadow: 41px 41px 82px #6c6c6c, -41px -41px 82px rgb(230, 230, 230);
}



table {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
 
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  white-space:nowrap;
}

tr:nth-child(even) {
    background-color: rgb(189, 189, 189);
}

th{
    background-color: rgb(126, 151, 158);
}

